<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="wrapper row0">
      <nav id="mainav" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Altarimu</a></li>
              <li><a href="pages/full-width.html">Sidebar Left</a></li>
              <li><a href="pages/full-width.html">Sidebar Right</a></li>
            </ul>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
